include ../components/variable
block variables
  - var fileName = "fileName";
  - var number = "1";
doctype html
html(lang="en")
  head 
    include ../components/meta
    title= `${pageTitle} | ${fileName}`
    include ../components/styles
    include ../components/fonts
  body
    include ../components/preloader
    include ../components/header
    block content
      .heading
        img.content(src=`assets/images/page-title-bg-${number}.jpg`, alt="")
        h2= fileName
        p.path
          a(href="index.html") Home
          span . 
          | #{fileName}
    block section
    include ../components/footer
    include ../components/scripts